sn-database/sn-db-user-wsdl/src/main/resources/services.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://user.services.network.social.ua/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="UserService" targetNamespace="http://user.services.network.social.ua/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://user.services.network.social.ua/"
                   attributeFormDefault="unqualified" elementFormDefault="unqualified"
                   targetNamespace="http://user.services.network.social.ua/">

            <xs:element name="CreateUserRequest" type="tns:CreateUserRequest"/>
            <xs:element name="CreateUserResponse" type="tns:CreateUserResponse"/>

            <xs:complexType name="User">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="firstName" minOccurs="1" maxOccurs="1" type="xs:string"/>
                    <xs:element name="lastName" minOccurs="1" maxOccurs="1" type="xs:string"/>
                    <xs:element name="email" minOccurs="1" maxOccurs="1" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CreateUserRequest">
                <xs:sequence>
                    <xs:element name="userData" minOccurs="1" type="tns:User"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CreateUserResponse">
                <xs:sequence>
                    <xs:element name="id" minOccurs="1" maxOccurs="1" type="tns:User"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="CreateUserRequest">
        <wsdl:part name="parameters" element="tns:CreateUserRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="CreateUserResponse">
        <wsdl:part name="parameters" element="tns:CreateUserResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="UserService">
        <wsdl:operation name="CreateUser">
            <wsdl:input name="CreateUserRequest" message="tns:CreateUserRequest">
            </wsdl:input>
            <wsdl:output name="CreateUserResponse" message="tns:CreateUserResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserServiceSoapBinding" type="tns:UserService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="CreateUser">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="CreateUserRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateUserResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UserService">
        <wsdl:port name="UserServicePort" binding="tns:UserServiceSoapBinding">
            <!-- embedded deployment -->
            <soap:address location="http://localhost:9090/UserServicePort"/>
            <!-- Tomcat deployment, embedded or standalone -->
            <!--soap:address location="http://localhost:8080/wsdl_first/services/CustomerServicePort"/-->
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>